<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu-page</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">近くのお買い得品と献立</div>
    </div>
    
    <div class="main">
        <div class="copy-containts">
            <div class="copy-txt">近くの特売品を使用して、00分以内で完成するメニューの一覧</div>
        </div>
        <div class="contents">
            <div class="menu-list">
                
                <table class="menu" border="1">
                    <th>menu1</th>
                    <li>menu2</li>
                    <li>menu3</li>
                </table>

            </div>    

            <div class="map">
                <h3>店舗を地図から検索</h3>
                <div class="map-flame">ここにgoogle mapを入れて地図表示する</div>
            </div>
                

            
            
        </div>
            
    </div>

</body>
</html>
