<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu-page</title>
    <link rel="stylesheet" href="../stylesheets/menu.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">近くのお買い得品と献立</div>
    </div>
    
    <div class="main">
        <div class="copy-contents">
            <h1 class="copy-txt">00分以内で完成するメニュー</h1>
        </div>
        <div class="contents">
            <div class="menu-list">
                
                <table class="menu" border="1" width="80%">
                    <tr>
                        <th>レシピ</th>
                        <th>必要材料1</th>
                        <th>立寄必要店舗</th>
                        <th>チラシへのリンク</th>
                        <th>レシピへのリンク</th>
                    </tr>
                    <tr>
                        <td>レシピ１</td>
                        <td>材料_レシピ１<br>材料1_レシピ1 <br>材料1_レシピ1</td>
                        <td>立ち寄り店舗名_レシピ1</td>
                        <td>リンク_レシピ１</td>
                        <td>リンク_レシピ１</td>
                    </tr>
                    <tr>
                        <td>レシピ2</td>
                        <td>材料_レシピ2<br>材料1_レシピ2 <br>材料2_レシピ2</td>
                        <td>立ち寄り店舗名_レシピ2</td>
                        <td>リンク_レシピ2</td>
                        <td>リンク_レシピ2</td>
                    </tr>
                    <tr>
                        <td>レシピ3</td>
                        <td>材料_レシピ3</td>
                        <td>立ち寄り店舗名_レシピ3</td>
                        <td>リンク_レシピ3</td>
                        <td>リンク_レシピ3</td>
                    </tr>

                </table>

            </div>    

            <div class="map">
                <h3>特売中の店舗位置</h3>
                <div class="map-flame">ここにgoogle mapを入れて地図表示する</div>
            </div>
                

            
            
        </div>
            
    </div>

</body>
</html>
