<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu-page</title>
    <link rel="stylesheet" href="../stylesheets/menu.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">近くのお買い得品と献立</div>
    </div>
    
    <div class="main">
        <div class="copy-contents">
            <h1 class="copy-txt">00分以内で完成するメニュー</h1>
        </div>
        <div class="contents">
            <div class="menu-list">
                
                <table class="menu" id="result_table" border="1" width="80%">
                    <tr>
                        <th>レシピ</th>
                        <th>必要材料1</th>
                        <th>立寄必要店舗</th>
                        <th>チラシへのリンク</th>
                        <th>レシピへのリンク</th>
                    </tr>
                    <tr>
                        <td>レシピ１</td>
                        <td>材料_レシピ１<br>材料1_レシピ1 <br>材料1_レシピ1</td>
                        <td>立ち寄り店舗名_レシピ1</td>
                        <td>リンク_レシピ１</td>
                        <td>リンク_レシピ１</td>
                    </tr>
                    
                    

                </table>

            </div>    

            <div class="map-area">
                <h3>検索商品を売る店舗位置</h3>
                <div id="map" class="map"></div>
            </div>
                

            
            
        </div>
            
    </div>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjkW8fRqsU3Cclv0_mGMD3lKxnZdW5nRk&callback=initMap"></script>
</body>
</html>
