.header {
  background-color: aqua;
  height: 100px;
  text-align: center;
}

.main {
  background-color: antiquewhite;
  height: 1000px;
}

.header-logo {
  color: white;
  font-size: 50px;
}

.copy-contents {
  padding-top: 50px;
  text-align: center;
}

.groce-list table {
  margin: auto;
  margin-top: 50px;
}

.map-area {
  height: 700px;
  width: 100%;
  text-align: center;
}

.map {
  width: 50%;
  height: 80%;
  margin: auto;
}
